### Import Libraries

In [1092]:
import numpy as np
import pandas as pd
import textwrap

# Data Loading Section

In [1093]:
data_path = "https://data.insideairbnb.com/united-kingdom/england/london/2025-09-14/data/listings.csv.gz"

# Read the CSV directly into a DataFrame
raw_data = pd.read_csv(data_path, compression= "gzip")

raw_data.to_csv('uk_england_listing_data.csv', index= False)

# Data Exploration Section

In [1094]:
raw_data.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,9.687100e+04,9.687100e+04,9.687100e+04,96830.000000,96830.000000,0.0,96871.000000,96871.000000,96871.000000,62025.00000,...,72706.000000,72729.000000,72705.000000,72705.000000,0.0,96871.000000,96871.000000,96871.000000,96871.000000,72749.000000
mean,6.894448e+17,2.025091e+13,2.144494e+08,50.088991,80.305246,NaN,51.509740,-0.127638,3.326228,1.35555,...,4.790344,4.812270,4.729839,4.616202,NaN,16.685499,14.303249,2.325526,0.028553,0.990334
std,5.941222e+17,0.000000e+00,2.196053e+08,399.405694,589.326173,NaN,0.049067,0.101112,2.078605,0.72077,...,0.430135,0.425909,0.409689,0.511816,NaN,53.130290,52.478299,9.623243,0.631484,1.304282
min,1.391300e+04,2.025091e+13,2.594000e+03,1.000000,1.000000,NaN,51.295937,-0.496760,1.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.010000
25%,3.026058e+07,2.025091e+13,2.726814e+07,1.000000,1.000000,NaN,51.484150,-0.189468,2.000000,1.00000,...,4.760000,4.800000,4.650000,4.500000,NaN,1.000000,0.000000,0.000000,0.000000,0.150000
50%,8.505248e+17,2.025091e+13,1.164321e+08,2.000000,3.000000,NaN,51.513720,-0.127505,2.000000,1.00000,...,4.930000,4.960000,4.850000,4.750000,NaN,2.000000,1.000000,0.000000,0.000000,0.520000
75%,1.254262e+18,2.025091e+13,4.198974e+08,10.000000,14.000000,NaN,51.539108,-0.068316,4.000000,1.50000,...,5.000000,5.000000,5.000000,4.940000,NaN,8.000000,5.000000,1.000000,0.000000,1.290000
max,1.508964e+18,2.025091e+13,7.186905e+08,5469.000000,8769.000000,NaN,51.682630,0.278960,16.000000,26.00000,...,5.000000,5.000000,5.000000,5.000000,NaN,500.000000,499.000000,116.000000,25.000000,36.960000

In [1095]:
raw_data.head(5)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,13913,https://www.airbnb.com/rooms/13913,20250914034649,2025-09-16,city scrape,Holiday London DB Room Let-on going,My bright double bedroom with a large window h...,Finsbury Park is a friendly melting pot commun...,https://a0.muscache.com/pictures/miso/Hosting-...,54730,...,4.87,4.78,4.78,NaN,f,2,1,1,0,0.30
1,15400,https://www.airbnb.com/rooms/15400,20250914034649,2025-09-16,city scrape,Bright Chelsea Apartment. Chelsea!,Lots of windows and light. St Luke's Gardens ...,It is Chelsea.,https://a0.muscache.com/pictures/428392/462d26...,60302,...,4.84,4.93,4.74,NaN,f,1,1,0,0,0.51
2,17402,https://www.airbnb.com/rooms/17402,20250914034649,2025-09-16,city scrape,Very Central Modern 3-Bed/2 Bath By Oxford St W1,"You'll have a great time in this beautiful, cl...","Fitzrovia is a very desirable trendy, arty and...",https://a0.muscache.com/pictures/39d5309d-fba7...,67564,...,4.72,4.89,4.61,NaN,f,2,2,0,0,0.32
3,24328,https://www.airbnb.com/rooms/24328,20250914034649,2025-09-18,previous scrape,Battersea live/work artist house,"Artist house by SW Battersea Park, bright high...","- Battersea is a quiet family area, easy acces...",https://a0.muscache.com/pictures/9194b40f-c627...,41759,...,4.93,4.60,4.65,NaN,f,1,1,0,0,0.53
4,36274,https://www.airbnb.com/rooms/36274,20250914034649,2025-09-15,city scrape,Bright 1 bedroom apt off brick lane in Shoreditch,*Update June '25- Pump Installed to improve wa...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,133271,...,4.46,4.85,4.54,NaN,t,2,2,0,0,0.09

In [1096]:
raw_data.isnull().sum()

id                                                  0
listing_url                                         0
scrape_id                                           0
last_scraped                                        0
source                                              0
                                                ...
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                               24122
Length: 79, dtype: int64

#### Display all columns header

In [1097]:
cols = ' | '.join(raw_data.columns)
print(textwrap.fill(cols, width=110))

id | listing_url | scrape_id | last_scraped | source | name | description | neighborhood_overview |
picture_url | host_id | host_url | host_name | host_since | host_location | host_about | host_response_time |
host_response_rate | host_acceptance_rate | host_is_superhost | host_thumbnail_url | host_picture_url |
host_neighbourhood | host_listings_count | host_total_listings_count | host_verifications |
host_has_profile_pic | host_identity_verified | neighbourhood | neighbourhood_cleansed |
neighbourhood_group_cleansed | latitude | longitude | property_type | room_type | accommodates | bathrooms |
bathrooms_text | bedrooms | beds | amenities | price | minimum_nights | maximum_nights |
minimum_minimum_nights | maximum_minimum_nights | minimum_maximum_nights | maximum_maximum_nights |
minimum_nights_avg_ntm | maximum_nights_avg_ntm | calendar_updated | has_availability | availability_30 |
availability_60 | availability_90 | availability_365 | calendar_last_scraped | number_of_reviews |
number_of_reviews_ltm | number_of_reviews_l30d | availability_eoy | number_of_reviews_ly |
estimated_occupancy_l365d | estimated_revenue_l365d | first_review | last_review | review_scores_rating |
review_scores_accuracy | review_scores_cleanliness | review_scores_checkin | review_scores_communication |
review_scores_location | review_scores_value | license | instant_bookable | calculated_host_listings_count |
calculated_host_listings_count_entire_homes | calculated_host_listings_count_private_rooms |
calculated_host_listings_count_shared_rooms | reviews_per_month

#### Check for Duplicate row

In [1098]:
raw_data[raw_data.duplicated()]

Empty DataFrame
Columns: [id, listing_url, scrape_id, last_scraped, source, name, description, neighborhood_overview, picture_url, host_id, host_url, host_name, host_since, host_location, host_about, host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost, host_thumbnail_url, host_picture_url, host_neighbourhood, host_listings_count, host_total_listings_count, host_verifications, host_has_profile_pic, host_identity_verified, neighbourhood, neighbourhood_cleansed, neighbourhood_group_cleansed, latitude, longitude, property_type, room_type, accommodates, bathrooms, bathrooms_text, bedrooms, beds, amenities, price, minimum_nights, maximum_nights, minimum_minimum_nights, maximum_minimum_nights, minimum_maximum_nights, maximum_maximum_nights, minimum_nights_avg_ntm, maximum_nights_avg_ntm, calendar_updated, has_availability, availability_30, availability_60, availability_90, availability_365, calendar_last_scraped, number_of_reviews, number_of_reviews_ltm, number_of_reviews_l30d, availability_eoy, number_of_reviews_ly, estimated_occupancy_l365d, estimated_revenue_l365d, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, license, instant_bookable, calculated_host_listings_count, calculated_host_listings_count_entire_homes, calculated_host_listings_count_private_rooms, calculated_host_listings_count_shared_rooms, reviews_per_month]
Index: []

[0 rows x 79 columns]

#### Columns Data Type.

In [1099]:
raw_data.dtypes

id                                                int64
listing_url                                      object
scrape_id                                         int64
last_scraped                                     object
source                                           object
                                                 ...
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
Length: 79, dtype: object

In [1100]:
raw_data.dtypes.value_counts()

object     34
float64    25
int64      20
Name: count, dtype: int64

# Data Cleaning Section

##### Price column

In [ ]:
clean_data = raw_data.copy()

# View the price column
clean_data['price'].head(10)

0     $70.00
1    $149.00
2    $411.00
3        NaN
4    $210.00
5    $280.00
6     $90.00
7     $61.00
8    $340.00
9     $49.00
Name: price, dtype: object

In [1102]:
# Remove dollar sign and commas from price, then convert to float datatype

clean_data['price'] = (
    raw_data['price']
    .replace(r'[\$,]', '', regex=True)
    .astype(float)
)

print(clean_data['price'])

0         70.0
1        149.0
2        411.0
3          NaN
4        210.0
         ...
96866    298.0
96867     66.0
96868    350.0
96869     40.0
96870    139.0
Name: price, Length: 96871, dtype: float64

##### Date column

In [1103]:
# View the date column

clean_data['last_review'].head(10)

0    2025-08-21
1    2025-04-05
2    2024-02-19
3    2025-07-05
4    2025-09-06
5    2025-07-20
6    2025-09-05
7    2024-03-11
8    2023-08-27
9    2025-07-26
Name: last_review, dtype: object

In [1104]:
# Convert the date column to proper date data type

clean_data['last_review'] = pd.to_datetime(clean_data['last_review'], errors='coerce')

print(clean_data['last_review'].head(10))

0   2025-08-21
1   2025-04-05
2   2024-02-19
3   2025-07-05
4   2025-09-06
5   2025-07-20
6   2025-09-05
7   2024-03-11
8   2023-08-27
9   2025-07-26
Name: last_review, dtype: datetime64[ns]

##### Handling Missing Values

In [1105]:
# Replace missing values in 'reviews_per_month' column with 0
clean_data['reviews_per_month'] = clean_data['reviews_per_month'].fillna(0)

# Replace missing values in 'host_name' column with 'Not Specified' to indicate unavailable host information
clean_data['host_name'] = clean_data['host_name'].fillna("Not Specified")

##### Remove irrelevant rows (e.g., listings with zero availability or price).

In [1106]:
# Remove rows where 'price' or 'availability' contain missing values

clean_data= clean_data.dropna(subset= ['price', 'has_availability', 'availability_30','availability_60', 'availability_90', 'availability_365'])

# Data Enrichment Section

##### Create total cost per booking

In [1107]:
enriched_data = clean_data.copy()

# Calculate the estimated total cost per booking by multiplying nightly price by minimum nights required
enriched_data['price_per_booking'] = enriched_data['price'] * enriched_data['minimum_nights']

# Display a preview of the new calculated column
enriched_data[['price', 'minimum_nights', 'price_per_booking']].head()

   price  minimum_nights  price_per_booking
0   70.0               1               70.0
1  149.0               4              596.0
2  411.0               3             1233.0
4  210.0               5             1050.0
5  280.0               3              840.0

##### Create availability categories

In [1108]:
# Categorize listings based on their yearly availability:
# 'Rare'      → properties available less than 100 days per year
# 'Part-time' → properties available between 100 and 300 days per year
# 'Full-time' → properties available between 301 and 365 days per year

enriched_data['availability_category'] = pd.cut(
    enriched_data['availability_365'], 
    bins=[-1, 99, 300, 365],
    labels=['Rare', 'Part-time', 'Full-time']
)

# Display a preview of the new availability_category column
enriched_data[['availability_365', 'availability_category']].head()

enriched_data.to_csv('enriched_uk_england_airbnb_listing_data.csv', index= False)

# Data Analysis Section

##### 1. What are the top 10 most expensive neighborhoods by average price ?

In [1109]:
# Calculate the top 10 most expensive neighborhoods
top_10_expensive_neighborhoods =(
     enriched_data.groupby('neighbourhood_cleansed')['price']
    .mean()
    .sort_values(ascending= False).head(10)
)
print("Top 10 most expensive neighborhoods by average price:")
print(top_10_expensive_neighborhoods)

Top 10 most expensive neighborhoods by average price:
neighbourhood_cleansed
Tower Hamlets             434.250118
Lambeth                   348.597127
Westminster               342.228014
Kensington and Chelsea    336.739498
City of London            334.514943
Islington                 218.493201
Camden                    216.259448
Hammersmith and Fulham    199.205516
Wandsworth                198.400000
Richmond upon Thames      181.831646
Name: price, dtype: float64

##### 2. What’s the average availability and price by room type ?

In [1110]:
# Calculate the average price and availability by room type

avg_by_room_type = (
    enriched_data.groupby('room_type')[['availability_365', 'price']]
    .mean()
    .reset_index()
)

print("\nAverage price and availability by room type:")
print(avg_by_room_type)

Average price and availability by room type:
         room_type  availability_365       price
0  Entire home/apt        212.348262  279.676136
1       Hotel room        234.319444  657.833333
2     Private room        217.681761  122.341090
3      Shared room        251.883598   96.417989

##### 3. Which host has the most listings?

In [1111]:
# Host with the most listings

top_host = (
    enriched_data['host_name'].value_counts().head(1)
)

print(top_host)

host_name
James    576
Name: count, dtype: int64

##### 4. How does average price vary across different boroughs or districts?

In [1112]:
# Average price across boroughs/districts

avg_price_by_district = (
    enriched_data
    .groupby('neighbourhood_cleansed')['price']
    .mean()
    .reset_index()
    .sort_values(by='price', ascending=False)
)

avg_price_by_district.head()

    neighbourhood_cleansed       price
29           Tower Hamlets  434.250118
21                 Lambeth  348.597127
32             Westminster  342.228014
19  Kensington and Chelsea  336.739498
6           City of London  334.514943

##### 5. How many listings have never been reviewed ?

In [1113]:
never_reviewed = enriched_data[
    (enriched_data['number_of_reviews'].isna()) | 
    (enriched_data['number_of_reviews'] == 0)
]

# Display total count
print("Number of listings that have never been reviewed:", len(never_reviewed))

Number of listings that have never been reviewed: 13180